.quiz-container {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.submit-button {
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
